
RewriteEngine on

RewriteCond %{HTTP_HOST} ^aquelo\.romsanbryan\.x10host\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.aquelo\.romsanbryan\.x10host\.com$
RewriteRule ^/?$ "http\:\/\/aquelo\.romsanbryan\.x10host\.com\/" [R=301,L]

